{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->



    <title>
        {% block title %}
    
        {% endblock title %}
    </title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    

</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** -->
    {% block headermenu %}
    {% include 'postapp/headernav.html' %}
    {% endblock headermenu %}
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <!-- Logo -->
                        <a class="navbar-brand" href="index.html"><img src="{% static 'img/core-img/logo.png' %}" alt="Logo"></a>
                        <!-- Navbar Toggler -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Navbar -->
                        <div class="collapse navbar-collapse" id="worldNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                
                         
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                                </li> 
                                     
                          
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li> 
                                <li class="nav-item" >
                                    <a class="nav-link" href="{% url 'profile' user.slug %}" style='color:red;'>{{user.first_name}} {{user.last_name}}</a>
                                </li> 

                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'registration' %}">Sign-up</a>
                                </li> 
                                {% endif %}  
                            </ul>
                            <!-- Search Form  -->
                            <div id="search-wrapper">
                                <div style='heigth:16px;'>
                                    <input type="text" id="search" placeholder="Search something...">
                                    <div id="close-icon"></div>
                                    <input class="d-none" type="submit" value="">
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->

{% block content %}

{% endblock content %}

   {% block footer %}
        {% include 'postapp/footer.html' %}
   {% endblock footer %}


    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <script src="{% static 'js/ajax_requests.js' %}"></script>
    {% comment %} {% url 'detail' post.id %} {% endcomment %}
    <script>
        $("#contact").submit(function contact(x) {
            console.log('Contact button clicked');
            let serializedData = $(this).serialize();
            console.log(serializedData);
            $.ajax({
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": '{{ csrf_token }}',
                  },
                type: 'GET',
                url: '',
                contentType: 'application/json',
                {% comment %} data: `{'csrfmiddlewaretoken': '{{ csrf_token }}', 'name':${$('#name').val()}, 'email':${$('#email').val()},'message':${$('#message').val()}}`, {% endcomment %}
                data: serializedData,
                dataType: 'json',
                success: (data) => {
                    if(data.result==true){
                        document.getElementById("contact").reset();
                        document.getElementById("messageM").innerHTML=data.message;
                        document.getElementById("messageBlock").style.display='block';

                    }
               
                },
                error: (error) => {
                    console.log(error);
                    console.log('Error');
                }
            });
            return false;
        
        })

        function myFunction(x) {
            let choice = null;
            if (x.className == 'fa fa-thumbs-up'){
                
                choice = true;
            
            }
            else{
                choice = false;
            } 
            
            
            $.ajax({
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    "X-CSRFToken": '{{ csrf_token }}',
                  },
                type: 'POST',
                url: '',
                contentType: 'application/json',
                data: `{'csrfmiddlewaretoken': '{{ csrf_token }}', 'choice':${choice}}`,
                dataType: 'json',
                success: (data) => {
                    console.log(data.like);
                    if (data.like ==true){
                        x.className="fa fa-thumbs-up";
                        x.style.color = 'blue';
                    }
                    else if(data.like ==false){
                        x.className = "fa fa-thumbs-down";
                        x.style.color = 'red';
                    } 
                    else if(data.like ==null){
                        x.className = "fa fa-thumbs-down";
                        x.style.color = '#ccc';
                    } 
                },
                error: (error) => {
                    console.log(error);
                    console.log('Error');
                }
            });
            return false;
        
        }
    </script>

</body>

</html>