{% extends 'profile/base.html' %}
{% block title %}{{userprofile.username}}{% endblock title %}

{% block content %}

  {% comment %} <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/w3images/lights.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div> {% endcomment %}
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding" style='  display: flex;  
  flex-wrap: wrap;' id='postcontainer'>
  {% for post in posts %}
    <div class="w3-third w3-container w3-margin-bottom">
        <img src="{{post.image.url}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
        <div class="w3-container w3-white">
        <p><b>{{ post.title}}</b></p>
        <p>{{post.anons}} </p>
        <p ><a style='color:blue;'  href='{% url 'profile' post.author.slug %}'>{{post.author.first_name}}</a> on {{post.created_date}}</p>
        <p style='margin-left:20px;'><strong>Views: </strong>{{post.get_count_of_views}}    <strong style='margin-left:20px;'>Likes: </strong>{{post.get_count_of_likes}} <strong style='margin-left:20px;'>Comments: </strong>{{post.get_count_of_comments}}</p>
        {% if user.id == post.author.id  %}
        <div class="w3-panel " style='display:flex;flex-wrap:wrap;margin:0;padding:0;align-items: center;
        justify-content: center;'>
        <button class="w3-button w3-dark-grey w3-padding-small w3-margin-top w3-margin-bottom ">
            <i class="fa fa-edit" ></i><i class='w3-margin-left'><a href='{% url 'editpost' slug=userprofile.slug id=post.id %}' style="font-size:16px;color:white">Edit</a></i>
        </button>
        <button class="w3-button w3-dark-grey w3-padding-small w3-margin-top w3-margin-bottom w3-margin-left">
            <i class="fa fa-remove" style="font-size:16px;color:white;"></i><i class='w3-margin-left'><a href='{% url 'removepost' slug=userprofile.slug id=post.id %}' style="font-size:16px;color:white">Remove</a></i>
        </button>
    </div>
        {% endif %}
    </div>
    </div>
  {% endfor %}


  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <!-- Images of Me -->
  <div class="w3-row-padding w3-padding-16" id="about">
    <div class="w3-col m6">
      <img src="/w3images/avatar_g.jpg" alt="Me" style="width:100%">
    </div>
    <div class="w3-col m6">
      <img src="/w3images/me2.jpg" alt="Me" style="width:100%">
    </div>
  </div>

  <div class="w3-container w3-padding-large" style="margin-bottom:32px">
    <h4><b>About Me</b></h4>
    <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
    <hr>
    
    <h4>Technical Skills</h4>
    <!-- Progress bars / Skills -->
    <p>Photography</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
    </div>
    <p>Web Design</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:85%">85%</div>
    </div>
    <p>Photoshop</p>
    <div class="w3-grey">
      <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:80%">80%</div>
    </div>
    <p>
      <button class="w3-button w3-dark-grey w3-padding-large w3-margin-top w3-margin-bottom">
        <i class="fa fa-download w3-margin-right"></i>Download Resume
      </button>
    </p>
    <hr>
    

  </div>
{% endblock content %}
