<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
{% for post in objects %}
    {# Each "contact" is a Contact model object. #}
    {{ post.title|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
            <a href="?list=1">&laquo; first</a>
            <a href="?list={{ objects.previous_page_number }}">previous</a>
        
        {% endif %}

        <span class="current">
            Page {{ objects.number }} of {{ objects.paginator.num_pages }}.
        </span>

        {% if objects.has_next %}
            <a href="?list={{ objects.next_page_number }}">next</a>
            <a href="?list={{ objects.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>